* {
    box-sizing: border-box;
}

.parent {
    padding: 20px;
    border: 2px dotted black;
    margin-top: 97px;
    z-index: 0;
}

.item.red {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: red;
    color: aliceblue;
    overflow: auto;
}

.item.green {
    width: 100px;
    height: 100px;
    background-color: green;
}

.item.blue {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.section-title {
    background-color: yellow;
    position: sticky;
    top: 0;
}

/* .sticky {
    position: sticky;
    top: 0;
} */

.header {
    background-color: yellow;
    margin: 0;
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 1;
}