* {
    box-sizing: border-box;
}

.parent {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border: 2px dotted black;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.item.red {
    width: 150px;
    height: 150px;
    background-color: red;
    color: white;
    transform: translate(15px, 80px);
    transition: background-color 5s, color 2s; 
}

.item.red:hover {
    background-color: aqua;
    color: black;
}

.item.green {
    width: 100px;
    height: 100px;
    background-color: green;
    transform: rotate(0);
    animation-name: spin;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}

.item.green:hover {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }

}

.item.blue {
    width: 50px;
    height: 50px;
    background-color: blue;
    transform: scale(0.8);
}

.item.orange {
    width: 150px;
    height: 150px;
    background-color: orange;
    transform: skew(19deg, 33deg);
}
